<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.rpi.rpimobile"
    android:versionCode="13"
    android:versionName="1.0.4" >
	
<!--     Target Version 2.3.3 and up 		-->
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="20" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/rpi_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >

        <meta-data
    		android:name="com.google.android.gms.version"
    		android:value="@integer/google_play_services_version" />          
        
        <!--
        Google Maps v2 API key below is for:
        SHA1: DE:D6:CF:EB:4F:E3:87:5F:CD:AA:8E:F9:C4:52:5D:B4:02:37:5F:40
        Package: edu.rpi.rpimobile
        -->
        <!-- Release Only:
        <meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyC0I_BmD-pPhZDp3204l1EzU0QBd4R0TEY"/>
    	-->
        
        <!--
        Google Maps v2 API key below is for:
        SHA1: 74:88:34:85:DC:9E:3A:FB:09:91:23:82:40:41:A5:66:2D:42:0A:BB
        Package: edu.rpi.rpimobile
        -->
        <!-- Debug Only: -->
        <meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyBX5jsjiNB7ShkRkaAnomTfcq2b6h1VseI"/>
    	
    	
        <activity
            android:name="edu.rpi.rpimobile.MainActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" 
                    />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.rpi.rpimobile.PrefsActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="edu.rpi.rpimobile.PREFS" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
